
body{
    background: #1e2d3b;
}
.header-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #2e3a46; 
    padding: 10px;  
}
.select-container{
    margin-right: 30px;
}
.spotify-logo img{
 width: 60px;
}
.album-container{
    display: inline-block;
    text-align: center;
    width: calc(100% / 6);
    padding: 20px;  
}
.inner-album, .music-album{
     background: #2e3a46;
     padding: 20px;
     margin-top: 20px;     
}
.inner-album img, .music-album img{ 
    width: 180px;
    min-height: 180px;
    
}
.title{
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
    height: 80px;  
    width: 180px;
}
h5{
    font-size: large;
    
}
.author{
    font-size: 15px;
    color: #808080;
    font-weight: bold;
    padding: 10px; 
}
.year{
    display: block;
    margin: 5px;
    font-size: 12px;
    color: #808080;
}

/*seconda milestone*/
.box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center; 
    padding-left: 50px;
}
.music-album{
    margin: 20px;
}

